exportPattern("^[[:alpha:]]+")

export(ddirm)
export(dgdirm)
export(dmn)
export(dnegmn)
export(kr)
export(MGLMfit)
export(MGLMreg)
export(MGLMsparsereg)
export(MGLMtune)
export(rdirm)
export(rgdirm)
export(rnegmn)


exportMethods(print,predict)

exportClasses(
    "MGLMfit",
    "MGLMreg",
    "MGLMsparsereg",
	"MGLMtune"
)

import(methods)
import(stats)
import(parallel)

